.home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100%;
  min-width: 99%;
  padding: 15px 20px;
  gap: 10px;
}

.mainInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(182, 89, 17, 0.35);
  border-radius: 12px;
  min-height: 100%;
  min-width: 25%;
}

.moviesSection {
  display: flex;
  padding: 10px;
  border-radius: 12px;
  background: rgba(48, 106, 35, 0.35);
  min-height: 100%;
  min-width: 75%;
}

.moviesSection > * {
  display: flex;
  flex-basis: 33%;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  min-height: 100%;
}
@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
