.layout {
  display: grid;

  height: 100%;
  width: 100%;
}

.navbar {
  background-color: rgba(4, 79, 6, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
  min-height: 60px;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.content {
  justify-self: center;
  min-height: 85dvh;
  width: 80vw;
  display: flex;
  justify-content: center;
  background: rgba(182, 240, 159, 0.25);
  margin: 20px 0px;
  animation: fading 1s both;
}

.links {
  color: rgb(229, 231, 229);
  font-size: 20px;
  font-weight: 700;
}

.footer {
  background-color: rgba(4, 79, 6, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  text-align: center;
  padding: 20px;
  min-height: 60px;
  max-width: 100%;
}

.footer > div {
  flex-basis: 33%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer h5 {
  font-size: 16px;
}

.footer h6 {
  font-size: 14px;
}
.copyright {
  text-align: center;
}
.implementation {
  text-align: left;
}

.developer {
  text-align: right;
}
