.movies {
  min-height: 85vh;
  max-width: 100%;
  overflow: auto;

  gap: 2rem 4rem;
  padding: 20px;
  font-size: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.rating {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 0px 0px;
  font-size: 24px;
  font-weight: 700;
  min-width: 20%;
  position: absolute;
  right: 0%;
  top: 0%;
  background: rgb(232, 10, 47);
  border-radius: 0px 0px 0px 30px;
  color: rgb(255, 222, 7);
  padding: 0px 0px;
  text-shadow: 1px 1px 5px rgb(5, 2, 2);
  z-index: 1000;
}

.rating p {
  font-size: 0.75rem;
}

.movieCard {
  position: relative;
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: rgb(228, 223, 133);
  padding: 0px 0px 10px 0px;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgb(245, 212, 26);

  text-align: center;
}

.movieCard:hover {
  background: rgb(253, 253, 253);
}
.imageHeader {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: rgb(2, 2, 2);
  display: flex;
  justify-content: center;
}

.imageHeader img {
  width: 100%;
  height: auto;
  filter: contrast(120%);
}

.movieCardHeader {
  width: 100%;
  background: rgb(3, 22, 0);
  color: rgb(207, 151, 40);
  /* text-shadow: 1px 1px 2px rgb(251, 250, 250); */
  /* border-radius: 0px 0px 35px 35px; */
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.movieCardHeader p {
  font-size: 0.6rem;
  background: yellow;
  margin: 5px;
  padding: 2px 5px;
  border-radius: 20px;
  color: black;
  text-shadow: none;
}

.movieCardHeader h1 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 5px 5px 5px;
  color: rgb(156, 224, 54);
}

.movieCardSubHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}

.desc {
  display: flex;
  flex-direction: column;
}

.descHeader {
  background: rgba(12, 15, 14, 0.611);
  font-size: 0.8rem;
}

.description {
  padding: 5px 15px 10px 15px;
  font-size: 0.8rem;
  text-align: justify;
  background: rgb(6, 74, 44);
}
